<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
  <title>Court Booking App</title>
</head>
<body>
  <%- include ('partials/navbar_user.ejs') %>

  <div class="container mt-5">
    <h2 class="text-center">Badminton's Lover</h2>
    <br>
    <br>

    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-6">
          <div class="card text-center">
            <div class="card-body">
              <strong>Our Supervisor</strong><br>
              <br>
              <div class="image-container">
                <img src="https://vignette.wikia.nocookie.net/crayonshinchan/images/6/6d/SHIN.png/revision/latest?cb=20200609184539" style="width: 150px; height: 200px;">
              </div>
              <br>
              <a href="https://vignette.wikia.nocookie.net/crayonshinchan/images/6/6d/SHIN.png/revision/latest?cb=20200609184539" class="btn btn-primary">See Details</a>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="card text-center">
            <div class="card-body">
              <strong>Our Director</strong><br>
              <br>
              <div class="image-container">
                <img src="https://i.pinimg.com/originals/36/61/34/36613473bed39e16160cf5d19f612996.jpg" style="width: 150px; height: 200px;">
              </div>
              <br>
              <a href="https://i.pinimg.com/originals/36/61/34/36613473bed39e16160cf5d19f612996.jpg" class="btn btn-primary">See Details</a>
            </div>
          </div>
        </div>
      </div>
      <div class="row justify-content-center mt-5">
        <div class="col-md-6">
          <h3>Feedback</h3>
          <form action="/submit-feedback" method="post">
            <div class="mb-3">
                <label for="feedback" class="form-label"><strong>Enter your feedback:</strong></label>
                <textarea class="form-control feedback-textarea" id="feedback" name="feedback" rows="6" required></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Submit Feedback</button>
          </form>
        </div>
      </div>
    </div>
  </div>

</body>
</html>
